* {
	font-size: 100%;
	font-family: sans-serif;
}

#heading, p {
	width: 800px;
	margin: 0 auto;
	padding-top: 30px;
}

#experience_link {
	padding-right: 15px;
}

.right{
	float: right;
}

.left{
	float: left;
}

a:link, a:visited, a:hover, a:active {
	color: #22A7F0;
	background-color: transparent;
	text-decoration: none;
}

h1 {
	width: 800px;
	margin: 0 auto;
	padding-top: 40px;
	font-size:200%;
	color: #26A65B;
}